.about {
  font-size: 35px;
  font-weight: 500;
  text-align: center;
}
.Myimage {
  width: 27%;
}
.Myinfo {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 450;
  line-height: 35px;
}
.wraper {
  display: inline-block;
}
.movingtxt {
  margin-left: 3px;
  height: 90px;
  line-height: 90px;
  margin-bottom: 20px;
  overflow: hidden;
}
.flex {
  display: flex;
}
.higher {
  width: 50%;
}
.images {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}
.data {
  margin-left: 25px;
}
.title {
  color: rgb(4 136 202);
  font-size: 22px;
  font-weight: 500;
}
.palace {
  color: black;
  font-weight: 400;
}
.touch {
  text-align: center;
  color: red;
  font-size: 20px;
  font-weight: 700;
}
.form {
  width: 60%;
  height: 40vw;
  margin: auto;
  background-color: rgb(231, 77, 77);
  display: flex;
  justify-content: center;
  align-items: center;
}
.fill {
  background-color: white;
  width: 40%;
  height: 70%;
}
.black {
  background-color: black;
  width: 105%;
  padding: 30px;
  text-align: center;
  color: white;
}
.run {
  margin-top: 50px;
  width: 100%;
  font-size: 30px;
  font-weight: 600;
}
.laptopabout {
  height: 40vw;
  margin-top: 150px;
}
.Myimage1 {
  width: 270px;
  height: 350px;
  border-radius: 30px;
}
.myinformation > span {
  color: rgb(19, 141, 235);
  padding-left: 5px;
  font-weight: 500;
}

@media (min-width: 1118px) and (max-width: 1300px) {
  .MyImage {
    width: 30%;
    height: auto;
  }
}
@media (min-width: 500px) and (max-width: 1117px) {
  .MyImage {
    width: 35%;
    height: 350px;
  }
}
@media (min-width: 970px) and (max-width: 985px) {
  .MyImage {
    width: 35%;
    height: 370px;
  }
}
@media (min-width: 800px) and (max-width: 1400px) {
  .twothings {
    display: flex;
  }
}
@media (min-width: 1086px) and (max-width: 1300px) {
  .myinformation {
    font-size: 22px;
  }
}
@media (min-width: 0px) and (max-width: 1085px) {
  .myinformation {
    font-size: 16px;
  }
}

@media (min-width: 0px) and (max-width: 799px) {
  .Myinfomain {
    width: 100%;
  }
}
@media (min-width: 800px) and (max-width: 1400px) {
  .Myinfomain {
    width: 65%;
  }
}
@media (min-width: 799px) and (max-width: 1400px) {
  .Myimage {
    width: 32%;
    border-radius: 5px;
  }
  .innermyimage {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .Myimage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .innermyimage {
    padding: 20px;
    border-radius: 5px;
    border-radius: 15px;
  }
}

.innerdiv{
  width: 76%;
  border-radius: 24px;
  background-color: whitesmoke;
  margin-bottom: 5%;
  box-sizing: border-box;

}
.institutionn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4%;
  padding: 2%;
  line-height: 0.5;
  color: var(--secondary-c);
}