.images {
  height: 125px;
  width: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: white;
  border-radius: 15px;
}
.all {
  width: 100%;
  height: 100%;
}
.main {
  width: 90%;
  margin: auto;
  margin-top: 100px;
  background-color: rgb(226, 219, 219);
  padding: 40px;
  border-radius: 15px;
}
.upper > h1 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}
.color {
  color: rgb(4 136 202);
}
.upper {
  margin-top: 70px;
}
.projectinfo {
  height: 75%;
  width: 100%;
}
.projectmain {
  margin: auto;
  width: 90%;
  height: 20vw;
  margin-top: 100px;
}
.projectimg {
  height: 75%;
  width: 100%;
}
.infoinner {
  width: 90%;
  margin: auto;
}
.infoinner > h1 {
  color: rgb(4 136 202);
  font-size: 30px;
  font-weight: 500;
}
.data {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 450;
  color: rgb(0, 0, 0);
}
.live {
  /* border:1px solid grey; */
  font-weight: 500;
  background-color: rgb(244, 238, 238);
  border: 1px solid rgb(4 136 202);
  border-radius: 20px;
  padding: 8px 15px 8px 15px;

}
.live:hover {
  background-color: rgb(4 136 202);
  font-size: 18px;
}
.grid {
  background-color: rgb(244, 238, 238);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 40px;
  height: 300px;
}
.projectmain > h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}
.pro {
  color: rgb(4 136 202);
  margin-left: 8px;
}
