body {
  margin: 0;
font-family:  Poppins,sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --primary: rgb(0, 135, 202);
  --primary-hover: rgb(0, 93, 165);
  --primary-shadow: rgba(0, 135, 202, 0.15);
  --secondary-a: rgb(69, 69, 69);
  --secondary-b: rgb(47, 47, 47);
  --secondary-c: rgb(27, 27, 27);
  --default-a: white;
  --default-b: whitesmoke;
  --default-c: lightgrey;
  --background-color: rgba(0, 135, 202, 0.05);
  --shadow-dark: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  --avatar-background: rgba(0, 135, 202, 0.05);

  --primary-d: wheat;
  --primary-d-hover: rgb(247, 210, 143);
  --primary-d-shadow: rgba(247, 210, 143, 0.15);
  --secondary-d-a: whitesmoke;
  --secondary-d-b: whitesmoke;
  --secondary-d-c: lightgrey;
  --default-d-a: rgb(31, 35, 39);
  --default-d-b: rgb(41, 45, 49);
  --default-d-c: rgb(51, 55, 59);
  --background-d-color: rgba(247, 211, 143, 0.05);
  --shadow-light: rgba(255, 255, 255, 0.1) 0px 1px 3px 0px, rgba(255, 255, 255, 0.06) 0px 1px 2px 0px;
  --avatar-d-background: wheat;
}
